/.env
/.env.testing
/.env.testing.*
!/.env.testing.example
/hycacmvp_contracting_erp.sql
/vendor/
/node_modules/
/public/assets/vendor/
/storage/logs/*.log
/storage/cache/*
/storage/uploads/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/uploads/.gitkeep
!/storage/uploads/company/
/storage/uploads/company/*
!/storage/uploads/company/.gitkeep
.phpunit.result.cache
.DS_Store
Thumbs.db
